<!DOCTYPE html>
<html>
  <head>
    <title>unit-2-assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do list</h1>
    <ul>
        <li>
          <form>
        

          
            
          </form>
        </li>
    </ul>
    <form action="/todos" method="POST"></form>
      <input type="text" name="todo">
      <button type="submit">ADD TO DO</button>
    
  </body>
</html>
